:root {
  --brand-color: #923ee0;
  --secondary-color: #f5eaff;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: "Rochester", cursive;
  font-size: 96px;
  margin-bottom: 27px;
}

h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-weight: 500;
  height: 36px;
}

h4 {
  color: #272142;
  font-weight: 400;
  font-size: 24;
  margin-bottom: 53px;
}

h4.portfolio {
  font-family: var(--default-font-family);
  font-weight: 700;
}

h5 {
  font-family: var(--default-font-family);
  font-weight: medium;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

h6 {
  font-family: var(--default-font-family);
  color: #000;
  font-weight: 500px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

h1.about {
  font-size: 64px;
}

h3.about,
h3.contact {
  font-size: 32px;
}

h3.contact {
  font-family: var(--default-font-family);
  font-weight: 400;
}

h4.about {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 45px;
}

p.about {
  font-size: 20px;
  opacity: 70%;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--brand-color);
}

footer .social-links a {
  margin: 30px 20px 0;
  color: var(--brand-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--brand-color);
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 150px 20px;
  margin: 0 80px;
  border-radius: 10px;
}

.contact-button {
  background: var(--brand-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.container {
  margin: 80px auto;
}

.header {
  text-align: center;
  font-family: var(--heading-font-family);
  margin: 50px 0;
}

.gallery-image {
  padding: 0 60px;
}

.skills-container {
  width: 82%;
}

.logo,
.skill {
  display: block;
  margin: 0 auto;
}

.bootstrap-logo {
  width: 45px;
}

.javascript-logo {
  width: 60px;
}

.react-logo {
  width: 40px;
}

.github-logo {
  width: 45px;
}

.card-text {
  font-size: 12px;
  margin-top: 0;
}

.inquiry {
  width: auto;
  background: var(--secondary-color);
  border-radius: 20px;
}

.work-contact-btn {
  margin-right: 120px;
}

.contact-box {
  margin: 0 auto;
  width: auto;
  background: var(--secondary-color);
  border-radius: 20px;
}

.logo {
  font-family: "Rochester", cursive;
  color: var(--brand-color);
  font-size: 48px;
}

.active {
  color: var(--brand-color) !important;
  font-weight: 500;
}

.github-link {
  color: var(--brand-color);
  text-decoration: none;
}

.website-button {
  background: var(--brand-color);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
}

.card img {
  max-width: 70%;
}

.contact-logo {
  text-align: center;
}

.custom-icon {
  max-width: none;
}

.fa-contact {
  color: var(--brand-color);
  font-size: 50px;
}

@media (max-width: 330px) {
  .hero {
    margin: 0 10px;
  }
}

@media (min-width: 390px) {
  h5 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h6 {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 32px;
  }
  h3.contact {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  h2,
  h3 {
    padding-left: 30px;
  }
}

@media (min-width: 331px) and (max-width: 767px) {
  .hero {
    margin: 0 30px;
  }
}

@media (max-width: 767px) {
  .img-logo {
    max-width: 50px;
  }

  .hero {
    padding-top: 75px;
  }

  h1 {
    font-size: 76px;
  }

  .work-contact-btn {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .work-contact-btn {
    margin-right: 0px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gallery-image {
    padding: 0 60px;
  }
}
