/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rochester', cursive; */

h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Poppins', sans-serif;
}
