:root {
  --brand-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-font-family: 'Poppins', sans-serif;
  --heading-font-family: 'Playfair Display', serif;
}

@media (max-width: 767px){
  .img-logo{
    max-width: 50px;
  }
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: 'Rochester', cursive;
  font-size: 96px;
  margin-bottom: 27px;
}

h2, h3, h4 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-weight: 500;
  height: 36px;
}

h4 {
  color: #272142;
  font-weight: 400;
  font-size: 24;
  margin-bottom: 53px;
}

h4.portfolio {
  font-family: var(--default-font-family);
  font-weight: 700;
}

h5 {
  font-family: var(--default-font-family);
  font-weight: medium;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 180px;
}

h6 {
  font-family: var(--default-font-family);
  font-weight: 500px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

h1.about {
  font-size: 64px;
}

h3.about, h3.contact {
  font-size: 32px;
}

h3.contact {
  font-family: var(--default-font-family);
  font-weight: 400;
}

h4.about {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 45px;
}

p.about {
  font-size: 20px;
  opacity: 70%;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 286px 20px;
}

.contact-button {
  background: var(--brand-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.container {
  margin: 100px auto;
}

.header {
  text-align: center;
  font-family: var(--heading-font-family);
  margin: 50px 0;
}

.gallery-image {
  padding: 0 100px;
}

.logo, .skill {
  display: block;
  margin: 0 auto;
}

.inquiry {
  width: auto;
  background: #F9F7FE; 
  border-radius: 20px;
}

.work-contact-btn {
  margin-right: 120px;
}

.contact-box {
  width: auto;
  background: #F9F7FE; 
  border-radius: 20px;
}

